$dark-grey: #6e6e6e;
$grey: #757575;
$light-grey: #D1D1D1;
$white: #ffffff;
$black: #000000;
$light-black: #5A5A5A;
$dark-black: #1D1D1D;
$yellow: #c98e4a;
$light-yellow: #db9648;
$light-blue: #F4F5F7;
